<div class="sidebar blog">
  <ul class="main-menu">
    <%- partial('partials/main_menu', {context: 'nav'}) %>
  </ul>
  <div class="list">
    <ul style="padding:0">
      <% site.posts.sort('order').limit().each(function (post) { %>
      <% if (post.secTitle === 'basics' && page.type == 'guide') { %>
        <li><h3>基础使用</h3></li>
      <% } %>
      <% if (post.secTitle === 'advanced' && page.type == 'guide') { %>
      <li><h3>进阶</h3></li>
      <% } %>
      <% if (post.secTitle === 'description' && page.type == 'guide') { %>
      <li><h3>说明</h3></li>
      <% } %>
      <li>
        <% if (post.type === page.type) { %>
        <a href="/<%- post.path %>"
           class="sidebar-link<%- page.title === post.title ? ' current' : '' %>"><%- post.title %></a>
        <% } %>
      </li>
      <% }) %>
    </ul>
  </div>
</div>
<div class="content with-sidebar blog post">
  <h1><%- page.title %></h1>
  <h4><%- page.date.format('MMM D[,] YYYY') %></h4>
  <%- page.content %>
</div>
