<li>
  <form id="search-form">
    <input type="text" id="search-query-<%- context %>" class="search-query st-default-search-input">
  </form>
</li>
<li><a href="/guide/index" class="nav-link<%- page.path.match(/guide/) ? ' current' : '' %>">教程</a></li>
<li><a href="/api/index" class="nav-link<%- page.path.match(/api/) ? ' current' : '' %>">API</a></li>
<li><a href="/examples/index/" class="nav-link<%- page.path.match(/examples/) ? ' current' : '' %>">示例</a></li>
<li><a href="/about/index" class="nav-link<%- page.path.match(/about/) ? ' current' : '' %>">参与贡献</a></li>
<!--
<%- partial('partials/community_dropdown') %>
<%- partial('partials/ecosystem_dropdown') %>
<%- partial('partials/language_dropdown') %>-->
